.btn-add i{
    color: #33487C;
    padding: 5px !important;
    font-size: 26px;
    line-height: 1;
    right: 225px;
    border-radius: 5px;
    top: 15px;
    cursor: pointer;
    z-index: 9;
}
.btn-add span {
	font-size: 14px;	
}
.display-block {
    display: block;
}

.overlay-loading {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}
.overlay-loading-spinner {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	color: white;
	left: 50%;
	margin: -15px 0 -15px;
}

.title-back {
    cursor: pointer;
}
    .title-back:hover {
        color: darkred;
    }
.nav-sidebar .nav-treeview .nav-icon {
	margin-left: 10px !important;
}