.btn-add i{
    color: #33487C;
    padding: 5px !important;
    font-size: 26px;
    line-height: 1;
    right: 225px;
    border-radius: 5px;
    top: 15px;
    cursor: pointer;
    z-index: 9;
}
.btn-add span {
	font-size: 14px;	
}
.display-block {
    display: block;
}

.overlay-loading {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}
.overlay-loading-spinner {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	color: white;
	left: 50%;
	margin: -15px 0 -15px;
}

.title-back {
    cursor: pointer;
}
    .title-back:hover {
        color: darkred;
    }
.nav-sidebar .nav-treeview .nav-icon {
	margin-left: 10px !important;
}
.table tr>td .progress {
	border-radius: 20px;
	height: 20px;;
}
.progress-bar {
	padding: 0 5px;
}
.top-priority {
	color: #E5131D;
	font-family: "Be-Vietnam-Bold";
}
.form-control.form-no-line::-webkit-outer-spin-button,
.form-control.form-no-line::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}
.user-role,
.table-seg-box {
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 5px 20px;
}
	.user-role.first,
	.project-divisi.first {
		background-color: #E4EDFC;
		color: #4885ED;
	}
	.user-role.second,
	.project-divisi.second {
		background-color: #E5FAFA;
		color: #0FAEAD;
	}
	.user-role.third,
	.project-divisi.third {
		background-color: #FBECFD;
		color: #BE2DCD;
	}
	.user-role.fourth,
	.project-divisi.fourth {
		background-color: #FFF3D9;
		color: #FFB000;
	}
	.user-role.fifth,
	.project-divisi.fifth {
		background-color: #FFB000;
		color: #FFF3D9;
	}
.dataTable th {
	font-family: "Be-Vietnam-Bold";
}
	.dataTable thead tr th {
		padding: 18px 0;
	}
		.dataTable thead tr th.dt-head-center{
			text-align: center;
		}
	table.dataTable>thead .sorting:before,
	table.dataTable>thead .sorting_asc:before,
	table.dataTable>thead .sorting:after,
	table.dataTable>thead .sorting_asc:after {
		top: 18px;
	}
	table.dataTable>thead .sorting_disabled:before,
	table.dataTable>thead .sorting_disabled:after {
		display: none !important;
	}
	table.dataTable .btn {
		padding: 3px 7px;
		border-radius: 5px;
	}

.dataTables_paginate .paginate_button {
	padding: 0 10px;
}
	.dataTables_paginate a {
		color: #000000;
		cursor: pointer;
		font-size: 13px;
	}
		.dataTables_paginate a:hover {
			color: #3083AB;
		}
	.dataTables_paginate a.paginate_button.current {
		color: #3083AB;
	}
	.dataTables_paginate .paginate_button .btn-default {
		padding: 3px 12px;
		font-size: 11px;
	}
div.dataTables_wrapper div.dataTables_info {
	margin-top: 20px;
	float: left;
}
div.dataTables_wrapper div.dataTables_paginate {
	margin-top: 23px !important;
	float: right;
}
#tableUsersLists_wrapper .btn.buttons-page-length {
	background-color: transparent;
	border-radius: 20px;
	padding: 0;
	color: #000;
	overflow: hidden;
}
	#tableUsersLists_wrapper .btn.buttons-page-length i {
	    background-color: #8C9AB1;
	    padding: 11px;
	    width: 98px;
	    color: #fff;
	}
		#tableUsersLists_wrapper .btn.buttons-page-length i span {
			font-family: "Be-Vietnam" !important;
		}
.toolbar-card {
	border-bottom: 1px solid rgba(151, 151, 150, 0.3);
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.toolbar-card-item {
	border-radius: 10px;
	color: #FFFFFF;
	padding: 0 10px !important;
}
	.tootbar-card-item i {
		color: #fb9c90;
	}
	.toolbar-card-item .tci {
		border-radius: 10px;
		margin: 0;
		padding: 15px 15px 15px 10px;
	}
	.toolbar-card-item .tci-blue {
		background: linear-gradient(73.75deg, #4880FF 4.37%, #4C61CC 91.96%);
	}
	.toolbar-card-item .tci-red {
		background: linear-gradient(74.25deg, #FB4824 1.2%, #E90C17 94.93%);
	}
	.toolbar-card-item .tci-green {
		background: linear-gradient(73.05deg, #60D669 1.92%, #1FAF38 93.35%);
	}
	.toolbar-card-item .tci-orange {
		background: linear-gradient(72.66deg, #F86D52 1.17%, #FB4F2A 94.3%);
	}
		.toolbar-card-item .tci-info {
			text-align: right;
			padding-right: 0;
		}
			.toolbar-card-item .tci i {
				color: #A7E5AD;
				padding: 20px 0 0;
				font-size: 60px;
			}
			.toolbar-card-item .tci-info span {
				display: block;
				font-size: 16px;
				margin-bottom: 5px;
			}
			.toolbar-card-item .tci-info h1 {
				font-size: 48px;
				font-family: 'Telkomsel-Batik-Sans';
			}
.general-info {
	background-color: #F1F4F9;
	border-radius: 10px;
	padding: 15px;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
	.general-info .title {
		font-family: "Be-Vietnam-Bold";
	}
		.general-info .gis-left {
			border-right: 1px solid #D5D5D5;
		}
		.general-info .gis-right .gis-pic {
			height: 220px;
			overflow-y: scroll;
		}
			.general-info .gis-right .gis-pic::-webkit-scrollbar {
				display: none;
			}
			.general-info .gis-right label {
				display: block;
			}
			.general-info .gis-right .gis-init  {
				padding-top: 2px;
			}
				.general-info .gis-right .row {
					margin-bottom: 10px;
				}
				.general-info .gis-right .gis-init span {
					border-radius: 50px;
					background-color: #4885ED;
					text-align: center;
					padding: 8px 0;
					width: 40px;
					height: 40px;
					display: block;
					color: #FFF;
				}
				.general-info .gis-right .gis-info label {
					margin-bottom: 0;
				}
				.general-info .gis-right .gis-info span {
					color: #A6A6A6;
				}
				.general-info .gis-left .progress {
					border-radius: 10px;
					display: inline-flex;
					width: calc(100% - 100px);
					height: 20px;
				}
.modal-overflow .modal-body {
	height: 500px;
	overflow-y: scroll;
}
		.modal-overflow .modal-body::-webkit-scrollbar {
			display: none;
		}
	.modal-overflow .modal-body label {
		font-family: 'Be-Vietnam-SemiBold';
		font-size: 12px;
	}
	.modal-body .modal-info {
		background-color: #E4EDFC;
		border: 1px solid #4885ED;
		border-radius: 8px;
		display: block;
		font-size: 12px;
		width: 100%;
		padding: 10px;
		margin-bottom: 20px;
	}
		.modal-body .modal-info i {
			color: #4885ED;
			margin-right: 5px;
		}
	.modal-overflow .modal-body .add-pic {
		cursor: pointer;
		color: #F86F54;
	}
.modal-seg {
	margin-left: -10px;
	padding-left: 18px !important;
	font-size: 13px !important;
}
	.modal-seg::before,
	.modal-seg-pic::before {
		display: block;
		float: left;
		width: 4px;
		content: "";
		background: #F86F54;
		border-radius: 0 20px 20px 0;
		margin-left: -15px;
		height: 26px;
	}
.modal-seg-pic {
	margin-left: 5px;
	padding-left: 18px !important;
	font-size: 13px !important;
}
	.modal-seg-pic::before {
		background: #4885ED;
	}
.row-pic {
	margin: 0 !important;
	padding: 0 !important;
}
	.delete-pic {
		color: #4885ED;
		cursor: pointer;
		margin-right: -5px;
		text-align: right;
	}
.project-activity {
	padding-right: 20px !important;
	border-right: 1px solid #D5D5D5;
}
	.project-activity .table.dataTable {
		width: calc(100% - 10px);
	}
.activity-comment {
	padding-left: 20px !important;
}
.comment-box {
	background-color: #F1F4F9;
	border-radius: 10px;
	min-height: 300px;
	padding: 15px 10px;
}
	.comment-box .comment-count {
		font-family: "Be-Vietnam-Bold";
		margin-bottom: 15px;
	}
		.comment-box .comment-count span {
			margin-left: 10px;
			line-height: 20px;
		}
	.comment-box .input-group-text {
		background-color: #FFF !important;
		color: #ED1846;
		cursor: pointer;
	}
	.comment-box .form-group {
		padding: 0;
	}
		.comment-box .form-group.form-comment-seg {
			min-height: 150px;
			max-height: 550px;
			margin-top: 20px;
			overflow-x: hidden;
		}
		.comment-box .form-group.form-group.form-comment-seg::-webkit-scrollbar {
			display: none;
		}
	.comment-box .form-control {
		background-color: #FFF !important;
	}
		.comment-box .form-control:disabled {
			background-color: #e9ecef !important;
		}
		.comment-box #button-add-comment.disabled > .input-group-text,
		.comment-box .button-add-reply.disabled > .input-group-text {
			background-color: #e9ecef !important;
			cursor: default;
		}
	.comment-box .comment-reply {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
		.comment-box .comment-reply .comment-reply-init {
			width: 40px;
			margin-right: 5px;
			float: left;
		}
			.comment-box .comment-reply .comment-reply-init span {
				border-radius: 50px;
				background-color: #4885ED;
				text-align: center;
				padding: 8px 0;
				width: 40px;
				height: 40px;
				display: block;
				color: #FFF;
			}
		.comment-box .comment-reply .comment-reply-text {
			width: calc(100% - 50px);
			float: left;
		}
			.comment-box .comment-reply .comment-reply-text .comment-reply-text-box {
				background-color: #FFF;
				border-radius: 10px;
				color: #4E5764;
				padding: 10px;
			}
			.comment-box .comment-reply .comment-reply-text span.comment-name {
				font-family: "Be-Vietnam-Bold";
			}
			.comment-box .comment-reply .comment-reply-text span.comment-role {
				color: #A6A6A6;
				display: block;
				font-size: 12px;
				margin-bottom: 7px;
			}
			.comment-box .comment-reply .comment-reply-text p {
				margin-bottom: 0;
			}
		.comment-box .comment-reply .comment-reply-info {
			margin: 7px 0 15px 0;
		}
			.comment-box .comment-reply .comment-reply-info .comment-info-date {
				color: #A7ABB2;
			}
			.comment-box .comment-reply .comment-reply-info .comment-info-reply {
				color: #4E5764;
			}
		.comment-box .comment-reply .comment-reply-input {
			margin-bottom: 15px;
		}
			.comment-box .comment-reply .comment-reply-input .form-control {
				padding: 7px 10px;
			}
		.comment-box .comment-reply .comment-btn-level {
			cursor: pointer;
			color: #4E5764;
		}
			.comment-box .comment-reply .comment-btn-level i {
				transform: rotate(90deg);
				margin-right: 5px;
			}
	.comment-box .comment-btn-all {
		color: #3A96EC;
		cursor: pointer;
	}


@media (max-width: 576px) {
	.toolbar-card-item {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	.toolbar-card-item .tci {
		padding: 7px;
	}
		.toolbar-card-item .tci .col-3 {
			display: none;
		}
		.toolbar-card-item .tci span {
			min-height: 48px;
		}

	.toolbar-card-item .tci i {
		display: none;
	}
	.dataTable {
		width: 100% !important;
	}
	.dataTable thead {
		display: none;
	}
		table.dataTable td {
			padding: 10px 0;
		}
			.table.dataTable .datatable-project-mobile,
			.table.dataTable .datatable-activity-mobile {
				padding: 15px;
				border-radius: 10px;
				background-color: #E5FAE9;
			}
				.table.dataTable .datatable-project-mobile label,
				.table.dataTable .datatable-activity-mobile label {
					display: block;
					margin-bottom: 2px;
				}
					.table.dataTable .datatable-project-mobile label.title,
					.table.dataTable .datatable-activity-mobile label.title {
						font-family: "Be-Vietnam-Bold";
						font-size: 16px;
						margin-bottom: 10px;
					}
					.table.dataTable .datatable-project-mobile label.subs,
					.table.dataTable .datatable-activity-mobile label.subs {
						font-size: 12px;
					}
						.table.dataTable .datatable-activity-mobile span.subs-right {
							display: inline-block;
							float: right;
						}
				.table.dataTable .datatable-project-mobile .mobile-segs,
				.table.dataTable .datatable-activity-mobile .mobile-segs {
					display: block;
					margin: 0 0 10px;
				}
					.table.dataTable .datatable-project-mobile .mobile-segs:after,
					.table.dataTable .datatable-activity-mobile .mobile-segs:after {
						display: block;
						content: "";
						clear: both;
					}
				.table.dataTable .datatable-project-mobile .table-seg-box {
					margin: 10px 0;
					float: left;
				}
				.table.dataTable .datatable-project-mobile span.top-priority {
					float: right;
					margin: 10px 30px 10px 0;
				}
				.table.dataTable .datatable-project-mobile .datatable-project-mobile-action,
				.table.dataTable .datatable-activity-mobile .datatable-activity-mobile-action {
					margin-top: 20px;
					padding-top: 20px;
					border-top: 2px solid rgba(32, 34, 36, 0.1);
				}
					.table.dataTable .datatable-project-mobile .datatable-project-mobile-action .btn {
						background-color: #fff;
						width: calc(20% - 8px);
					}
			.datatable-activity-mobile {
				background-color: #fff !important;
				border: 1px solid #D5D5D5;
			}
				.table.dataTable .datatable-activity-mobile .progress {
					margin: 15px 0;
				}
	.general-info .gis-left {
		border-right: 0;
		border-bottom: 1px solid #D5D5D5;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
		.general-info .gis-right .gis-pic {
			height: 160px;
		}
		.general-info .gis-right .gis-init {
			margin-right: 0;
		}
	#toolbar .toolbar-search {
		width: 100%;
	}
	.activity-comment {
		padding: 0 !important;
		margin-top: 20px;
	}
		.comment-box .form-group {
			margin-bottom: 5px;
		}
		.comment-box .form-group.form-comment-seg {
			margin-top: 0;
		}
}