.btn-add i{
    color: #33487C;
    padding: 5px !important;
    font-size: 26px;
    line-height: 1;
    right: 225px;
    border-radius: 5px;
    top: 15px;
    cursor: pointer;
    z-index: 9;
}
.btn-add span {
	font-size: 14px;	
}
.display-block {
    display: block;
}

.overlay-loading {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}
.overlay-loading-spinner {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	color: white;
	left: 50%;
	margin: -15px 0 -15px;
}

.title-back {
    cursor: pointer;
}
    .title-back:hover {
        color: darkred;
    }
.nav-sidebar .nav-treeview .nav-icon {
	margin-left: 10px !important;
}
.table tr>td .progress {
	border-radius: 20px;
	height: 20px;;
}
.progress-bar {
	padding: 0 5px;
}
.top-priority {
	color: #E5131D;
	font-family: "Be-Vietnam-Bold";
}
.form-control.form-no-line::-webkit-outer-spin-button,
.form-control.form-no-line::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}
.user-role,
.table-seg-box {
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 5px 20px;
}
	.user-role.first,
	.project-divisi.first {
		background-color: #E4EDFC;
		color: #4885ED;
	}
	.user-role.second,
	.project-divisi.second {
		background-color: #E5FAFA;
		color: #0FAEAD;
	}
	.user-role.third,
	.project-divisi.third {
		background-color: #FBECFD;
		color: #BE2DCD;
	}
	.user-role.fourth,
	.project-divisi.fourth {
		background-color: #FFF3D9;
		color: #FFB000;
	}
	.user-role.fifth,
	.project-divisi.fifth {
		background-color: #FFB000;
		color: #FFF3D9;
	}
.dataTable th {
	font-family: "Be-Vietnam-Bold";
}
	.dataTable thead tr th {
		padding: 18px 0;
	}
	table.dataTable>thead .sorting:before,
	table.dataTable>thead .sorting_asc:before,
	table.dataTable>thead .sorting:after,
	table.dataTable>thead .sorting_asc:after {
		top: 18px;
	}
	table.dataTable>thead .sorting_disabled:before,
	table.dataTable>thead .sorting_disabled:after {
		display: none !important;
	}

.dataTables_paginate .paginate_button {
	padding: 0 10px;
}
	.dataTables_paginate a {
		color: #000000;
		cursor: pointer;
		font-size: 13px;
	}
		.dataTables_paginate a:hover {
			color: #3083AB;
		}
	.dataTables_paginate a.paginate_button.current {
		color: #3083AB;
	}
	.dataTables_paginate .paginate_button .btn-default {
		padding: 3px 12px;
		font-size: 11px;
	}
div.dataTables_wrapper div.dataTables_info {
	margin-top: 20px;
	float: left;
}
div.dataTables_wrapper div.dataTables_paginate {
	margin-top: 23px !important;
	float: right;
}
#tableUsersLists_wrapper .btn.buttons-page-length {
	background-color: transparent;
	border-radius: 20px;
	padding: 0;
	color: #000;
	overflow: hidden;
}
	#tableUsersLists_wrapper .btn.buttons-page-length i {
	    background-color: #8C9AB1;
	    padding: 11px;
	    width: 98px;
	    color: #fff;
	}
		#tableUsersLists_wrapper .btn.buttons-page-length i span {
			font-family: "Be-Vietnam" !important;
		}
.toolbar-card {
	border-bottom: 2px solid rgba(151, 151, 150, 0.3);
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.toolbar-card-item {
	border-radius: 10px;
	color: #FFFFFF;
	padding: 0 10px !important;
}
	.tootbar-card-item i {
		color: #fb9c90;
	}
	.toolbar-card-item .tci {
		border-radius: 10px;
		margin: 0;
		padding: 15px;
	}
	.toolbar-card-item .tci-blue {
		background: linear-gradient(73.75deg, #4880FF 4.37%, #4C61CC 91.96%);
	}
	.toolbar-card-item .tci-red {
		background: linear-gradient(74.25deg, #FB4824 1.2%, #E90C17 94.93%);
	}
	.toolbar-card-item .tci-green {
		background: linear-gradient(73.05deg, #60D669 1.92%, #1FAF38 93.35%);
	}
	.toolbar-card-item .tci-orange {
		background: linear-gradient(72.66deg, #F86D52 1.17%, #FB4F2A 94.3%);
	}
		.toolbar-card-item .tci-info {
			text-align: right;
		}
			.toolbar-card-item .tci i {
				color: #A7E5AD;
				padding: 20px 0 0;
				font-size: 60px;
			}
			.toolbar-card-item .tci-info span {
				display: block;
				font-size: 16px;
				margin-bottom: 20px;
			}
			.toolbar-card-item .tci-info h1 {
				font-size: 48px;
				font-family: 'Telkomsel-Batik-Sans';
			}
.general-info {
	display: none;
	background-color: #F1F4F9;
	border-radius: 10px;
	padding: 15px;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
	.general-info .title {
		font-family: "Be-Vietnam-Bold";
	}
		.general-info .gis-left {
			border-right: 1px solid #D5D5D5;
		}
		.general-info .gis-right .gis-pic {
			height: 220px;
			overflow-y: scroll;
		}
			.general-info .gis-right .gis-pic::-webkit-scrollbar {
				display: none;
			}
			.general-info .gis-right label {
				display: block;
			}
			.general-info .gis-right .gis-init  {
				padding-top: 2px;
			}
				.general-info .gis-right .row {
					margin-bottom: 10px;
				}
				.general-info .gis-right .gis-init span {
					border-radius: 50px;
					background-color: #4885ED;
					text-align: center;
					padding: 8px 0;
					width: 40px;
					height: 40px;
					display: block;
					color: #FFF;
				}
				.general-info .gis-right .gis-info label {
					margin-bottom: 0;
				}
				.general-info .gis-right .gis-info span {
					color: #A6A6A6;
				}
				.general-info .gis-left .progress {
					border-radius: 10px;
					display: inline-flex;
					width: calc(100% - 100px);
					height: 20px;
				}
	#general-info-overlay {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		z-index: 91;
	}
.modal-overflow .modal-body {
	height: 500px;
	overflow-y: scroll;
}
		.modal-overflow .modal-body::-webkit-scrollbar {
			display: none;
		}
	.modal-overflow .modal-body label {
		font-family: 'Be-Vietnam-SemiBold';
		font-size: 12px;
	}
	.modal-body .modal-info {
		background-color: #E4EDFC;
		border: 1px solid #4885ED;
		border-radius: 8px;
		display: block;
		font-size: 12px;
		width: 100%;
		padding: 10px;
		margin-bottom: 20px;
	}
		.modal-body .modal-info i {
			color: #4885ED;
			margin-right: 5px;
		}
	.modal-overflow .modal-body .add-pic {
		cursor: pointer;
		color: #F86F54;
	}
.modal-seg {
	margin-left: -10px;
	padding-left: 18px !important;
	font-size: 13px !important;
}
	.modal-seg::before {
		display: block;
		float: left;
		width: 4px;
		content: "";
		background: #F86F54;
		border-radius: 0 20px 20px 0;
		margin-left: -15px;
		height: 26px;
	}