body {
    width: 100%;
    background-color: #fff !important;
    margin: 0;
    font-family: "Be-Vietnam" !important;
}
    body.bg-grey {
        background-color: #f5f6fa !important;
    }
.form-control {
    background-color: #f5f6fa !important;
    font-size: 12px !important;
    height: calc(3rem + 2px) !important;
    padding: 10px 14px !important;
}
.overlay-loading {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}

.overlay-loading-spinner {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    color: white;
    left: 50%;
    margin: -15px 0 -15px;
}

.input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-right: 0;
}
.input-group-text {
    background-color: #f5f6fa !important;
}
.card-header .seg-tools {
    float: left;
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 0;
}

.card-header .seg-title {
    color: #f86f54;
    font-family: "Be-Vietnam-Bold";
    font-size: 24px;
    font-weight: bold;
}

.card-header .seg-subtitle {
    color: #808891;
    font-size: 14px;
}
    .card-header.no-sub .seg-tools {
        padding: 2px 0;
    }
    .card-header.no-sub .seg-title {
        padding: 6px 0;
        margin-bottom: 0;
    }
.form-group .btn-group #avatar-empty,
.form-group .btn-group #avatar-not-empty {
    background-color: transparent;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    cursor: pointer;
    color: #D5D5D5;
    text-align: center;
    padding: 55px 0;
    width: 150px;
    height: 150px;
}
    .form-group .fileinput {
        display: none;
    }
    .form-group .btn-group #avatar-empty i {
        font-size: 20px;
    }
    .form-group .btn-group #avatar-empty span {
        display: block;
    }
    .form-group .btn-group #avatar-not-empty {
        display: none;
        padding: 0;
    }
        .form-group .btn-group #user-avatar-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 991;
        }
        .form-group .btn-group #avatar-not-empty i {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -40%);
            font-size: 20px;
            z-index: 999;
            color: #D5D5D5;
        }
        .form-group .btn-group #avatar-not-empty img {
            width: 100%;
        }
        .form-group .btn-group #avatar-not-empty span#avatar-edit {
            color: #D5D5D5;
            position: absolute;
            top: 60%;
            left: 50%;
            display: block;
            transform: translate(-50%, -60%);
            width: 100%;
            z-index: 993;
        }
.pageInfo {
    margin-top: 20px;
}
    .pageInfo .bInfo {
        color: #202224;
        font-size: 14px;
    }
    .pageInfo .bPagination ul {
        margin: 0;
    } 
        .pageInfo .bPagination ul li {
            cursor: pointer;
            list-style: none;
            display: inline-block;
            padding: 0 5px;
        }
            .pageInfo .bPagination ul li.pCurrent {
                color: #3083AB;
                font-family: "Be-Vietnam-Bold";
            }
            .pageInfo .bPagination i {
                border: 0.6px solid #D5D5D5;
                color: #202224;
                padding: 5px 10px;
            }
                .pageInfo .bPagination #bPaginationPrev i {
                    border-radius: 5px 0 0 5px;
                }
                .pageInfo .bPagination #bPaginationNext i {
                    border-radius: 0 5px 5px 0;
                }
                .pageInfo .bPagination .bDisabled i {
                    color: rgba(32, 34, 36, 0.5);
                    cursor: default;
                }
.toolHead {
    margin-bottom: 15px;
}
    .toolHead span {
        display: block;
        padding: 10px 0;
        font-size: 16px;
        font-family: "Be-Vietnam-Bold";
        margin: 0;
    }
    .toolHead .btn {
        padding: 7px 20px;
        border-radius: 6px;
    }
        .toolHead .btn.btn-export {
            border: 1px solid #202224;
        }
        .toolHead .btn.btn-tambah {
            background-color: #F86F54;
            color: #FFF;
            margin-left: 10px;
        }
.modal-footer .button-seg {
    margin: 0 auto;
}
    .modal-footer .button-seg .btn {
        padding-left: 50px;
        padding-right: 50px;
    }
        .modal-footer .button-seg .btn.btn-danger {
            background-color: #F86F54;
            border-color: #F86F54;
        }
.modal-dialog .modal-lg {
    max-width: 900px;
}
#toolbar {
    margin-bottom: 20px;
}
    #toolbar .toolbar-select {
        border: 0.5px solid #D5D5D5;
        border-radius: 20px;
        display: inline-block;
        color: #fff;
        padding: 0;
        overflow: hidden;
        margin-right: 20px;
    }
        #toolbar .toolbar-select span {
            background-color: #8C9AB1;
            padding: 8px 20px;
            font-size: 12px;
            display: inline-block;
        }
            #toolbar .toolbar-select span#resetFilter {
                cursor: pointer;
                color: #E5131D;
                background-color: transparent;
                border-left: 0.5px solid #D5D5D5;
            }
        #toolbar .toolbar-select select {
            padding: 4px;
            border: 0;
            margin-right: 5px;
        }
    #toolbar .toolbar-search .form-control {
        background-color: transparent !important;
        border-radius: 0 20px 20px 0;
        border-left: 0;
        height: 36px !important;
    }
    #toolbar .toolbar-search .input-group-text {
        border-radius: 20px 0 0 20px !important;
        border-right: 0;
        background-color: transparent !important;
        padding: 7px 0 4px 14px;
    }
        #toolbar .toolbar-search .input-group-text i {
            color: #202224;
        }
.content {
    min-height: 300px;
}
    .content .login-page {
        background-color: #fff;
        width: 100%;
    }
        .content .login-page .login-body {
            width: 80%;
            height: 500px;
        }
            .login-body .login-body-frame {
                background: url("../../images/frame-login.png") 80% 80%;
                background-color: #f5f6fa;
                border-radius: 20px;
                border: 1px solid #f5f6fa;
            }
            .login-body .login-body-form {
                padding: 4rem;
            }
                .login-body .login-body-form h1 {
                    color: #f86f54;
                    font-weight: bold;
                }
                .login-body .login-body-form .input-group:not(.has-validation)>.form-control:not(:last-child) {
                    border-right: 0;
                }
                .login-body .login-body-form .input-group-text {
                    background-color: #f5f6fa;
                }
                .login-body .login-body-form .fas {
                    cursor: pointer;
                }
                .login-body .login-body-form .fa-eye {
                    display: none;
                }
                .login-body .login-body-form .btn {
                    padding: 0.6rem 0.75rem;
                }
                .login-body .login-body-form .btn-danger:disabled {
                    background-color: #e6e6e6;
                    border-color: #e6e6e6;
                }

.header {
    background-color: #fff;
    width: 100%;
}
    .header .navbar {
        width: 80%;
        margin: 0 auto;
    }
        .header .navbar .logo {

        }
            .header .navbar .logo .logo-icon {
                width: 40px;
                height: 40px;
                float: left;
            }
            .header .navbar .logo .logo-smile {
                width: 120px;
                float: left;
                padding: 5px;
            }
            .header .navbar .logo::after {
                clear: both;
            }
        .header .navbar .menu {
            text-align: center;
            padding: 10px;
        }
            .header .navbar .menu .navbar-menu {
                margin: 0;
            }
                .header .navbar .menu .navbar-menu .nav-item {
                    padding: 3px 10px;
                    margin: 0 10px;
                }
                    .header .navbar .menu .navbar-menu .nav-item a {
                        color: #969696;
                    }
                        .header .navbar .menu .navbar-menu .nav-item a:hover {
                            color: #f86f54;
                        }
                        .header .navbar .menu .navbar-menu .nav-item a.active {
                            color: #f86f54;
                            font-weight: bold;
                        }
        .header .navbar .user-nav {
            text-align: right;
        }
            .header .navbar .user-nav .user-char {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #f86f54;
                color: #fff;
                text-align: center;
                font-size: 20px;
                padding: 2px 0;
                margin-right: 10px;
                float: left;
            }
            .header .navbar .user-nav a:hover {
                color: inherit;
            }
            .header .navbar .user-nav .user-profile {
                text-align: left;
                float: left;
            }
            .header .navbar .user-nav .nav-item .nav-user {
                margin: 0;
                float: right;
                cursor: pointer;
            }
                .header .navbar .user-nav .user-profile label {
                    cursor: pointer;
                    font-weight: bold;
                    color: #000;
                    display: block;
                    margin-bottom: 0;
                }
                .header .navbar .user-nav .user-profile span {
                    color: #969696;
                    display: block;
                    font-size: 12px;
                }
            .header .navbar .user-dropdown {
                top: 40px;
                right: -15px !important;
            }
    
    .main-page {
        width: 80%;
        margin: 0 auto;
    }
        .main-page .main-frame {
            margin: 10px 0;
        }
            .main-page .main-frame .main-left {
                padding: 80px 0;
            }
                .main-page .main-frame .main-left h1 {
                    color: #f86f54;
                    font-weight: bold;
                }
                .main-page .main-frame .main-left h5 {
                    margin-top: 30px;
                }
                .main-page .main-frame .main-left .main-left-seg {
                    margin-top: 30px;
                }
                    .main-page .main-frame .main-left .main-left-seg .main-left-seg-item {
                        margin-bottom: 30px;
                    }
                        .main-frame .main-left .main-left-seg-item span{
                            color: #808891;
                            display: block;
                            margin-bottom: 10px;
                        }
                        .main-frame .main-left .main-left-seg-item label.mls-num {
                            display: block;
                            font-weight: bold;
                            font-size: 36px;
                        }
            .main-page .main-frame .main-right {
                padding-left: 70px;
                padding-right: 0;
            }
                .main-page .main-frame .main-right-red {
                    border: 3px solid #f86f54;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    padding: 10px;
                }
                .main-page .main-frame .main-right-blue {
                    border: 3px solid #be2dcd;
                    border-radius: 20px;
                    padding: 10px;
                }
                .main-page .main-frame .main-right img {
                    width: 100%;
                }
    .profile-page {
        width: 80%;
        margin: 30px auto;
    }
        .profile-page .card {
            border-radius: 20px;
        }
            .profile-page .card-body {
                padding-left: 30px;
                padding-right: 30px;
            }
            .profile-page .profile-avatar {
                width: 120px;
                height: 120px;
                overflow: hidden;
                margin-right: 20px;
                margin-bottom: 40px;
            }
                .profile-page .profile-avatar img {
                    width: 100%;
                }
            .profile-page .profile-name {
                padding: 40px 0;
            }
            .profile-page .card-body .form-group label {
                font-size: 12px;
                margin-bottom: 0;
            }
